In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.0'

In [3]:
# list, array, dict to convert into pd object
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [11]:
pd.Series(mylist)
pd.Series(myarr)
pd.Series(mydict)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [57]:
#Convert the series ser into a dataframe with its index as another column on the dataframe.
ser = pd.Series(mydict)

#with numpy
import numpy as np
pd.DataFrame(np.vstack([np.array(ser),np.array(ser.index.values)]).T)

#direct
ser.to_frame().reset_index()

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

In [67]:
#combine series to df
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

#1
pd.DataFrame([ser1,ser2]).T

#2
pd.concat([ser1,ser2],axis=1)

#3
pd.DataFrame({'column1':ser1,'column2':ser2})

   column1  column2
0        a        0
1        b        1
2        c        2
3        e        3
4        d        4
5        f        5
6        g        6
7        h        7
8        i        8
9        j        9
10       k       10
11       l       11
12       m       12
13       n       13
14       o       14
15       p       15
16       q       16
17       r       17
18       s       18
19       t       19
20       u       20
21       v       21
22       w       22
23       x       23
24       y       24
25       z       25

In [70]:
#name your pd object - for quick reference later
ser.name = 'Alphabets'
ser

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
Name: Alphabets, dtype: int64

In [81]:
#set diff
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

#using numpy- returns array
np.setdiff1d(ser1,ser2)

'''
~ is similar to ! in R language 
isin similar to %in% in R
'''
#using pandas- retruns df
ser1[~(ser1.isin(ser2))]

0    1
1    2
2    3
dtype: int64

In [92]:
#subset not common values
#union and intersect subset to be converted into Pandas object to work
u = pd.Series(np.union1d(ser1,ser2))
i = pd.Series(np.intersect1d(ser1,ser2))

u[~u.isin(i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [121]:
#Compute the minimum, 25th percentile, median, 75th, and maximum of ser.
ser = pd.Series(np.random.normal(10, 5, 25))

#long way
np.percentile(ser,[25,75])
ser.min()
ser.median()
ser.max()

#using numpy 
# 0th, 50th and 100th percentile --> min, median and max respectively
np.percentile(ser,[0,27,50,75,100])

array([-2.39988995,  6.04192152,  8.88885884, 12.91678204, 20.38759956])

In [124]:
#Calculte the frequency counts of each unique value ser.
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

ser.value_counts()

f    8
e    6
d    4
a    3
h    3
b    2
g    2
c    2
dtype: int64

In [140]:
#From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.
'''
useful to convert many categorical values into limited no. of categories- imp feature engineering 
'''
#check freq, sort by count, subset and replace

ser[~ser.isin(ser.value_counts()[:2].index)]='Others'
ser

0     Others
1     Others
2     Others
3     Others
4          f
5     Others
6     Others
7     Others
8     Others
9          f
10         f
11         f
12    Others
13    Others
14    Others
15    Others
16    Others
17    Others
18    Others
19    Others
20         f
21         f
22    Others
23    Others
24    Others
25    Others
26    Others
27         f
28         f
29    Others
dtype: object

In [158]:
#Bin the series ser into 10 equal deciles and replace the values with the bin name
ser = pd.Series(np.random.random(20))
print(ser)

#pd
print(pd.qcut(ser,[0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]))
print(np.unique(pd.qcut(ser,[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1])))

0     0.140799
1     0.283516
2     0.493480
3     0.521205
4     0.571611
5     0.034889
6     0.160222
7     0.362004
8     0.849043
9     0.298422
10    0.375361
11    0.233094
12    0.450483
13    0.240173
14    0.554493
15    0.211886
16    0.496024
17    0.241487
18    0.438932
19    0.436007
dtype: float64
0     (0.0339, 0.158]
1      (0.241, 0.292]
2      (0.463, 0.501]
3      (0.501, 0.556]
4      (0.556, 0.849]
5     (0.0339, 0.158]
6      (0.158, 0.229]
7      (0.292, 0.369]
8      (0.556, 0.849]
9      (0.292, 0.369]
10     (0.369, 0.437]
11     (0.229, 0.241]
12     (0.437, 0.463]
13     (0.229, 0.241]
14     (0.501, 0.556]
15     (0.158, 0.229]
16     (0.463, 0.501]
17     (0.241, 0.292]
18     (0.437, 0.463]
19     (0.369, 0.437]
dtype: category
Categories (10, interval[float64]): [(0.0339, 0.158] < (0.158, 0.229] < (0.229, 0.241] < (0.241, 0.292] ... (0.437, 0.463] < (0.463, 0.501] < (0.501, 0.556] < (0.556, 0.849]]
[Interval(0.0339, 0.158, closed='right')
 Interval(0.158, 0.229, closed='right')
 Interval(0.229, 0.241, closed='right')
 Interval(0.241, 0.292, closed='right')
 Interval(0.292, 0.369, closed='right')
 Interval(0.369, 0.437, closed='right')
 Interval(0.437, 0.463, closed='right')
 Interval(0.463, 0.501, closed='right')
 Interval(0.501, 0.556, closed='right')
 Interval(0.556, 0.849, closed='right')]

In [167]:
#find position of value which are multiple of n
n = 3
ser = pd.Series(np.random.randint(1, 10, 7))

ser[ser%n==0]

0    9
1    3
3    3
6    6
dtype: int32

In [169]:
#From ser, extract the items at positions in list pos.
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [218]:
#stack series
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

#horizontal stacking
pd.DataFrame(np.vstack([ser1,ser2]))
#or
pd.concat([ser1,ser2],axis=1).T

#vertical stacking
pd.DataFrame(np.hstack([ser1,ser2]))
#or
ser1.append(ser2)
#or
pd.concat([ser1,ser2],axis=0)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [229]:
#compute MSE (mean squared error)
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

# take mean of the squared values of difference between actual and predicted = MSE
print(((truth - pred)**2).mean())

0.27957295743447347

In [237]:
#convert to uppercase
ser = pd.Series(['how', 'to', 'rock', 'and', 'roll?'])

[i.title() for i in ser]

['How', 'To', 'Rock', 'And', 'Roll?']

In [240]:
#len of each word
[len(i) for i in ser]

[3, 2, 4, 3, 5]

In [243]:
#parse all formats of date 
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [245]:
#Get the day of month, week number, day of year and day of week from ser.ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
'''
This one I didn't use earlier- referred
'''
# Solution
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
print("Day of week: ", ser_ts.dt.weekday_name.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

In [253]:
#filter words with vowels
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

v = ['a','e','i','o','u']